{#
/**
 * @file
 * Site branding block template.
 */
#}
<div{{ attributes.addClass('site-branding') }}>
  {% if site_logo %}
    <a href="{{ path('<front>') }}" class="site-branding__logo" rel="home" aria-label="{{ 'Etusivu'|t }}">
      <img src="{{ site_logo }}" alt="{{ 'KonsoliFIN logo'|t }}">
    </a>
  {% endif %}
</div>
