{#
/**
 * @file
 * Template for KonsoliFIN Ad.
 *
 * Variables:
 * - base_id: The base ID (e.g. 'konsolifin_content').
 * - unique_suffix: Random string to ensure IDs are unique per page render.
 */
#}
{% set id_desktop = 'konsolifin_desktop-' ~ base_id ~ unique_suffix %}
{% set id_mobile = 'konsolifin_mobile-' ~ base_id ~ unique_suffix %}
<div class="konsolifin_ad-wrapper">
<div id="{{ id_desktop }}" class="konsolifin-ad-container konsolifin-ad-desktop"></div>
<div id="{{ id_mobile }}" class="konsolifin-ad-container konsolifin-ad-mobile"></div>
</div>
<script>
var isMobile{{ unique_suffix }} = (window.innerWidth ||
document.documentElement.clientWidth ||
document.body.clientWidth) < 1000;
lwhbim.cmd.push(function() {
lwhbim.loadAd({tagId: isMobile{{ unique_suffix }} ? '{{ id_mobile }}' : '{{ id_desktop }}'});
});
</script>
